<ion-view view-title="Edit Account">
  
  <ion-content class="padding" scroll="false">
  
  <form ng-submit="doUpdate(frm)" novalidate="" name="frm">
    <div class="list padding">
        <div class="item-md-label" ng-show="message">
            <div class="label-danger">{{message}}</div>
        </div>
        <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name" ng-model="u.first_name">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name" ng-model="u.last_name">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="u.email" required>
        </label>
        
    </div>
    <label class="">
      <button class="button button-full button-balanced ink round" ng-disabled="frm.$invalid">Save</button>
    </label>
  </form> 
      
  </ion-content>
</ion-view>