<ion-view view-title="{{appname}}">
    <ion-nav-buttons side="right">
        <div class="cart-total ink">
            <button class="button ink icon-cart button-icon button-clear ion-ios-search-strong" ui-sref="quicksearch"></button>
        </div>
        <div class="cart-total ink" ui-sref="app.cart">
            <div ng-if="totalCartItem>0">
                <span>{{totalCartItem}}</span>
            </div>
            <button class="button ink button-icon button-clear fa fa-shopping-basket"></button>
        </div>
    </ion-nav-buttons>
    <ion-content class="home bg" overflow-scroll="true" scroll-to-top="150" delegate-handle="scroller">
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <div class="slider" ng-if="homeSlider">
            <!--<ion-slide-box auto-play="1000" does-continue="true" ng-if="slides.length">-->
            <ion-slide-box does-continue="false" ng-if="slides.length">

                <ion-slide ng-repeat="x in slides track by x.id">
                    <!--<a href="#/app/{{x.params}}">-->
                        <div class="img" style="background-image: url({{x.img}})"></div>
                        <div style="position: relative;height: 220px;width: 100%;top: 0;margin-top: -220px;top: 0px;z-index:10;">
                            <div ng-repeat="layer in ::x.layers track by $index">
                                 <div ng-if="::(layer.type == 'image')" style="position:absolute;top:{{::layer.top.desktop/2}}px;left:{{::layer.left.desktop/2}}px;">
                                    <img ng-src="{{::(layer.image_url)}}" style="height:{{layer.height}}px;width:auto;"> 
                                </div>
                                <div style="position:relative;z-index:11;top:{{::layer.top.desktop/2}}px;left:{{::layer.left.desktop/2}}px;max-width:250px;">
                                    <span ng-if="::(layer.type == 'text')" style="font-size:{{::layer.static_styles['font-size'].desktop}};color:{{::layer.static_styles['color'].desktop}};" ng-bind-html="::layer.text">  </span>
                                </div>
                            </div>
                        </div>

                        <ion-spinner class="onload"></ion-spinner>
                    
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="row">
            <ion-scroll direction="x">
                <div class="wide">
                    <div ng-repeat="x in categories" ui-sref="app.category({id: x.id, slug: x.slug, title: x.name})">
                        <div class="slide-item">
                            <div ng-if="!x.image" class="img" style="background-image: url(img/product.png)"></div>
                            <div ng-if="x.image" class="img" style="background-image: url({{x.image}})"></div>
                            <ion-spinner class="onload"></ion-spinner>
                        </div>
                        <span class="out"></span>
                        <h3 class="center" ng-bind-html="x.name"></h3>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <div ng-if="featured_products" class="item item-divider">
            FEATURED PRODUCTS
        </div>
         <div class="row grid" ng-repeat="x in featured_products track by $index" ng-if="$index%2==0">
            <div class="col col-50 ink item" ng-if="$index < products.length" ui-sref="app.product({id: products[$index].id})">
                <div class="badge">
                    <span ng-if="!products[$index].in_stock" class="sold">Sold out</span>
                    <span ng-show="products[$index].regular_price > 0 && products[$index].on_sale" class="sale">
                        {{products[$index] | discount | number:0}}% OFF
                    </span>
                </div>

                <ion-spinner class="onload"></ion-spinner>

                <div class="img" style="background-image: url({{products[$index].featured_src ? products[$index].featured_src : 'img/product.png'}})"></div>
                <div class="info">
                    <h3>{{products[$index].title}}</h3>
                    <span ng-bind-html="products[$index].price | currency:format:decimal"></span>
                    <del ng-show="products[$index].regular_price > 0 && products[$index].on_sale" ng-bind-html="products[$index].regular_price | currency:format:decimal"></del>
                </div>
            </div>
            <div class="col col-50 ink item" ng-if="$index+1 < products.length" ui-sref="app.product({id: products[$index+1].id})">
                <div class="badge">
                    <span ng-if="!products[$index+1].in_stock" class="sold">Sold out</span>
                    <span ng-show="products[$index+1].regular_price > 0 && products[$index+1].on_sale" class="sale">
                        {{products[$index+1] | discount | number:0}}% OFF
                    </span>
                </div>

                <!--<ion-spinner class="onload"></ion-spinner>-->

                <div class="img" style="background-image: url({{products[$index+1].featured_src ? products[$index+1].featured_src : 'img/product.png'}})"></div>
                <div class="info">
                    <h3 ng-bind-html="products[$index+1].title"></h3>
                    <span ng-bind-html="products[$index+1].price | currency:format:decimal"></span>
                    <del ng-show="products[$index+1].regular_price > 0 && products[$index+1].on_sale" ng-bind-html="products[$index+1].regular_price | currency:format:decimal"></del>
                </div>
            </div>
        </div>
        
        <div ng-if="products" class="item item-divider">
            NEWEST PRODUCTS
        </div>
        <div class="list card-items">
			<a class="card item item-thumbnail-left item-button-right" ng-repeat="x in products track by $index" ng-click="gotoProduct(x)">
				<img ng-src="{{products[$index].featured_src ? products[$index].featured_src : 'img/product.png'}}" class="image" style="border-radius:0px;">
				<h2>{{products[$index].title}}</h2>
				<p>
					<span ng-bind-html="products[$index].price | currency:format:decimal"></span>
					<del ng-show="products[$index].regular_price > 0 && products[$index].on_sale" ng-bind-html="products[$index].regular_price | currency:format:decimal"></del>
					<div class="badge" style="position:relative;top:0px !important;">
						<span ng-if="!products[$index].in_stock" class="sold">Sold out</span>
						<span ng-show="products[$index].regular_price > 0 && products[$index].on_sale" class="sale">
		                        {{products[$index] | discount | number:0}}% OFF
		                    </span>
					</div>
				</p>
			</a>
		</div>
        <ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="more"></ion-infinite-scroll>
    </ion-content>
    <scroll-to-top-button animate="true">
        <div class="float-button">
            <span class="height-fix">
                <a class="content">
                    <i class="ion-ios-arrow-up"> </i>
                </a>
            </span>
        </div>
    </scroll-to-top-button>
</ion-view>